/*IMPORTAMOS LA FUENTE "INTER" DE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Open+Sans:ital@1&display=swap');

/*
  #########################
  #### RESETEO INICIAL ####
  #########################
  */
/*Usamos transition para hacer que todas las transiciones sean más suaves*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

/*
  ################
  #### ROOT ######
  ################
  */
/*Definimos el azul que vamos a usar en diversos elementos de nuestra app*/
:root {
  --blueApp: #09a9df;
}

/*
  ################
  #### BODY ####
  ################
  */
/*NOTA: Aquí indicamos las tipografías y usamos flex con direction column para que el header y el main se coloquen en dicho sentido y su contenido use dichas tipografías.*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif, Arial, Helvetica;
}

/*
  #######################
  #### BODY > HEADER ####
  #######################
  */
body > header {
  background-color: var(--blueApp);
  text-align: center;
  color: white;
  padding: 1rem 0;
}

/*
  #######################
  #### BODY > MAIN ######
  #######################
  */
/*NOTA: Aquí metemos un background con degradado entre un azul y amarillo suavizados simbolizando la lluvia y el sol. Le indicamos que ocupe todo el espacio disponible en main.*/
main {
  background: linear-gradient(to right, #87dcf8, rgb(250, 250, 161));
  flex-grow: 1;
}

/*NOTA: Como el display flex column de body afecta a header y a main, nos vemos obligados a definir nuevos display flex para algunos de los elementos de dentro de main.*/
section#img {
  display: flex;
  justify-content: center;
}

section#img > img {
  /*   width: 40%; */
  width: 150px;
  height: 150px;
  margin: 1rem;
  border: 2px solid var(--blueApp);
  border-radius: 15px;
}

section#texto-boton {
  text-align: center;
  font-size: 9px;
  margin: 1rem 1rem;
}

/*Aquí usamos :hover sobre el botón para cambiar su apariencia*/
button.llovera:hover {
  background-color: var(--blueApp);
  color: white;
}

/*Aquí hemos creado una pequeña animación para que el botón destaque al cargar la página y llame la atención del usuario*/
button.llovera {
  font-weight: bold;
  margin: 1.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--blueApp);
  animation-name: move-animation;
  animation-duration: 0.5s;
}
/*Aquí definimos el comportamiento de la animación move-animation*/
@keyframes move-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

section#simple {
  text-align: center;
  margin: 1rem 2rem;
  padding: 2rem 1rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
/*NOTA: Aquí nos refereimos a la section con id = "simple", teniendo en cuenta que el código de JS puede añadrile dos posibles clases (lluvia o sol). En función de la clase que asigne JS le añadiremos a la sección una imagen de fondo distinta.*/
section#simple.lluvia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../multimedia/lluvia.gif');
}
section#simple.sol {
  background-image: url('../multimedia/nolluvia.gif');
  color: black;
}
section#simple.lluvia,
section#simple.sol {
  background-size: cover;
}

section#compleja {
  text-align: center;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  font-size: 13px;
}

/*NOTA: Quitamos el estilo de todos los li*/
body > main > section > ul > li {
  list-style: none;
}

body > main > section#compleja > ul > li {
  padding: 0.5rem 0;
}

/*
  #######################
  #### BODY > FOOTER ####
  #######################
  */
body > footer {
  background-color: var(--blueApp);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 700 píxeles*/
@media (min-width: 700px) {
  /*
  #######################
  #### BODY > HEADER ####
  #######################
  */
  body > header {
    padding: 2rem 0;
    font-size: 20px;
  }
  /*
  #######################
  #### BODY > MAIN ######
  #######################
  */
  section#img > img {
    /*     width: 40%; */
    width: 270px;
    height: 270px;
  }
  section#texto-boton {
    font-size: 15.5px;
  }

  button.llovera {
    padding: 0.5rem 1rem;
    font-size: 20px;
  }

  section#simple {
    margin: 1rem 6.6rem;
    padding: 3rem 1rem;
  }
  section#compleja {
    font-size: 20px;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 1200 píxeles*/
@media (min-width: 1200px) {
  /*
  #######################
  #### BODY > MAIN ######
  #######################
  */
  /*NOTA: En este caso nos resultó más cómodo trabajar con grid (además así usamos tanto grid como flex en el proyecto). Aunque en este caso se trata de una disposición sencilla dividiendo tanto el eje horizontal como el vertical en dos fracciones del total. Además pusimos un min-heigth de 70vh para que no obligue a hacer scroll ni en pantallas grandes ni en patalla de portátil.*/
  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
  }
  section#img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section#img > img {
    width: 200px;
    height: 200px;
  }
  /*Aquí volvemos a usar flex para disponer los elementos de esta section*/
  section#texto-boton {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
  }
  button.llovera {
    margin: 1.5rem auto;
    padding: 0.5rem;
  }

  section#simple {
    text-align: center;
    font-size: 30px;
  }

  /*Aquí volvemos a usar flex para disponer los elementos de esta section*/
  section#simple.lluvia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 50%;
  }

  /*Aquí volvemos a usar flex para disponer los elementos de esta section*/
  section#simple.sol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: 50%;
  }
  /*Aquí volvemos a usar flex para disponer los elementos de esta section*/
  section#compleja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }
}
